
.appBar {
  background-color: #6c2b78 !important; /* Purple color */
  height: 56px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.title {
  color: #fff !important;
  font-weight: 500 !important;
  font-size: 1.25rem !important;
  letter-spacing: 0.5px;
  margin-right: 16px !important; /* Space between title and navbar */
}


.avatar {
  transition: all 0.3s ease;
}

.avatar:hover {
  transform: scale(1.1);
}

.menu {
  margin-top: 8px;
}

/* For mobile view */
@media (max-width: 900px) {
  .title {
    text-align: left;
    margin-left: 16px;
  }
}